@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
}
header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
}
main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right {
  width: 52rem;
  font-size: 2rem;
}
.hero-heading {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.between {
  font-size: 1.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.howtoplay {
  position: absolute;
  top: 2rem;
  left: 22rem;
}
.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}
.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background-color: #ccc;
}
.message {
  margin-bottom: 8rem;
  height: 3rem;
}
.label-score {
  margin-bottom: 2rem;
}
.check:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* modal window  */
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #e5e7eb;
  cursor: pointer;
  border: none;
  background: none;
}
.howtoplay_heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #f3f9ff;
}
.how_list {
  font-size: 1.8rem;
  list-style: inside;
  color: #e5e7eb;
}
.how-list-item {
  margin-bottom: 3rem;
}
.hidden {
  display: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: #292929;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
